:root {
  --card-border: solid 1px #dddddd;
  --card-height: 17em;
  --card-width: 45em;
  --card-innerPadding: 30px;
}


* {
  /* transition-duration: 100ms;
  transition-timing-function: ease; */
  /* font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans JP', sans-serif; */

}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: var(--card-width);
  height: var(--card-height);
  margin: 16px 16px 16px 16px;
  padding: 1px 1px 4px 1px;
  border: var(--card-border);
  border-radius: 8px;
  list-style: none;
  /* cursor: pointer; */
  vertical-align: middle;
  word-wrap: break-word;
  background-color: rgba(50,50,50,0.6);;
}
.card:hover {
  transition-duration: 300ms;
  transition-timing-function: ease;
  /* background-color: rgba(241,243,245,1.0); */
  box-shadow: 0 0 20px rgba(255,255,255,0.4);
}
.card.selected {
  background-color: rgba(100,200,220,0.3);
}
.card-title {
  width: calc(var(--card-width) - var(--card-innerPadding) * 2);
  padding: 10px var(--card-innerPadding) 2px;
  margin: 1px auto;
  font-size: 18px;
}
.card-content {
  width: calc(var(--card-width) - var(--card-innerPadding) * 2);
  padding: 8px var(--card-innerPadding) 10px;
  color: rgba(0,0,0,0.9);
}
.card-tag-list {
  /* position: absolute; */
  /* bottom: 0px; */
  width: calc(var(--card-width) - var(--card-innerPadding) * 2);
  padding: 5px var(--card-innerPadding) 8px;
}
.card-tag {
  font-size: 13px;
  /* font-weight: bold; */
  display: inline-block;
  color: rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.1);
  border-radius: 16px;
  padding: 4px 10px;
  margin: 4px 2px;
  cursor: pointer;
}
.card-tag:hover {
  color: rgba(255,255,255,1.0);
  background: rgba(0,0,0,0.3)
}
.card-tag label {
  cursor: pointer;
}
