:root {
    --body-width: 100vw;
    --body-height: 100vh;
    --header-height: 6em;
    --footer-height: 3em;
    --front-height: 15em;
    --description-height: 8em;
    --button-height: 3em;
    --paishi-pai-size: 1.8em;
    --pai-to-char: 1.5; /*文字に対してのドラ画像倍率*/
}

*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
    min-height: var(--body-height);    
    margin: 0 auto;

background: linear-gradient(230deg, #a0c11f, #18a54f, #3193d5);
background-size: 600% 600%;

-webkit-animation: AnimationName 59s ease infinite;
-moz-animation: AnimationName 59s ease infinite;
animation: AnimationName 59s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}
@keyframes AnimationName {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}

    /* background: linear-gradient(91deg, #7758b6, #a64eb4, #2b74c8, #29d0c2);
    background-size: 800% 800%;

    animation: gradationAnime 30s ease infinite;
    -webkit-animation: gradationAnime 30s ease infinite;
    -moz-animation: gradationAnime 30s ease infinite;
    @keyframes gradationAnime {
        0%{background-position:0% 55%}
        50%{background-position:100% 46%}
        100%{background-position:0% 55%}
    }
    @-webkit-keyframes gradationAnime {
        0%{background-position:0% 55%}
        50%{background-position:100% 46%}
        100%{background-position:0% 55%}
    }
    @-moz-keyframes gradationAnime {
        0%{background-position:0% 55%}
        50%{background-position:100% 46%}
        100%{background-position:0% 55%}
    } */



    /* background: rgb(215,174,238);
    background: radial-gradient(circle, rgba(215,174,238,1) 0%, rgba(83,143,214,1) 100%); */

    /* background: linear-gradient(261deg, #4fb1d5, #a136d2);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 28%}
        50%{background-position:100% 73%}
        100%{background-position:0% 28%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 28%}
        50%{background-position:100% 73%}
        100%{background-position:0% 28%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 28%}
        50%{background-position:100% 73%}
        100%{background-position:0% 28%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 28%}
        50%{background-position:100% 73%}
        100%{background-position:0% 28%}
    } */

}
.full-screen{
    width: var(--body-width);
    height: var(--body-height);
}

.header {
    height: var(--header-height);
    font-family: 'Montserrat', sans-serif;
    background-color:#333333;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    transition: all 0.3s;
    z-index: 1;
}
.footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-top: solid 1px #b8bfd6;
    margin-top: auto;
    text-align: center;
    background-color: #333333;
    opacity: 0.8;
}
.footer p{
    margin: 0;
}

/* 共通用 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3em auto;
}
.trans-btn {
    background-color: transparent;
    border: none;
    height: var(--button-height);
}
.btn-shine {
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: var(--button-height);
    width: 200px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: 1px solid;
    /* outline-color: rgba(255, 255, 255, 0.5); */
    /* outline-offset: 0px; */
    text-shadow: none;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.btn-shine:hover {
    border-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    /* text-shadow: 2px 2px 3px #ffffff; */
}
.btn-shine:focus {
    outline: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.action_choices {
    height: calc(var(--button-height) + 3em);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    margin: 1em auto;
}

/* top用 */
.container.top,
.container.result {
    height: calc(var(--body-height) - var(--header-height) - var(--footer-height));
}
.front {
    height: var(--front-height);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top-description {
    height: var(--description-height);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation-name: fadein;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
.description_title {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.description_title h2 {
    font-weight: 300;
    font-size: 2.1em;
}
.description_title::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 98%;
    height: 2px;
    background: #ffffff;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
    margin: 0 auto;
}
.description_title:hover::after {
    transform: scale(1, 1);
}
.description_detail p {
    font-weight: 300;
    font-size: 1.4em;
}

/* カード用@result, description */
.card_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3em;
}
.card p {
    margin: 0;
}
.problem {
    /* height: var(--card-height); */
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.question_info {
    width: 100%;
    height: calc(var(--card-height) * 0.55 * 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 0.5em;
}
.question_info img{

}
.paishi {
    height: calc(var(--card-height) * 0.55 * 0.40);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--paishi-pai-size);
}
.question_area {
    height: calc(var(--card-height) * 0.55);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.answer_area {
    height: calc(var(--card-height) * 0.30);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer_area > span {
    font-weight: 300;
    font-size: 1.5em;
}
.question_area img {
    width: calc(var(--pai-to-char) * 1em);
    max-width: calc(var(--pai-to-char) * 1em);
    height: auto;
}
.description_area {
    width: 100%;
}
.description_content {
    margin: 1em auto;
}
.answer_area img {
    max-width: 3em;
    height: auto;
    margin: 0 1em;

}
.submit_button {
    text-align: center;
}

/* result用 */
.chart {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}